<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>Kawasaki H2</title>
</head>
<body>
    <header>
        <h1>Kawasaki H2 (Это вам не шутки)</h1>
    </header>
    <main>
        <section class="hero">
            <div class="overlay">
                <h2>Выбирай его! Если хочешь оказаться под фурой.</h2>
            </div>
        </section>
        <section class="features">
            <h2>Характеристики</h2>
            <ul>
                <li>Двигатель: 998 см³(Литровый норм темка)</li>
                <li>Мощность: 210 л.с.</li>
                <li>Максимальная скорость: 400 км/ч(Это если что дохуя)</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>© 2024 Kawasaki H2 By Никита Разживин ИСП-3-22</p>
    </footer>
</body>
</html>